$modal-select-height: 27px;

.tangible-logic-modal {

  position: relative;

  .select2-selection,
  .tangible-components-control__field,
  .select2,
  .select2-selection__rendered,
  .selection,
  select {
    height: $modal-select-height;
  }

  .tangible-logic-rule {
    display: flex;

    & > div {
      flex: 1;
    }
  }

  h4 {
    font-size: 100%;
  }
  
}

/*
Basic fix to make select2 work in BeaverBuilder (there are syle conflicts)
*/
.fl-builder-edit .tangible-block-legacy-is-edited.tangible-block-legacy-popup-is-open {

  span.select2-container {
    z-index: 9999999999;

    &.select2-container--open {
      z-index: 9999999999;
    }
  }

}
